



<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <p>
    <h1 class="display-4"><%= @friend.first_name %>  <%= @friend.last_name %></h1>
    </p>

    <p>
    <strong><%= @friend.email %></strong> | <strong>    <%= @friend.phone_number %></strong>   <strong>  | <%= @friend.twitter %></strong>
    </p>

  
 
  

  <%= link_to 'Edit', edit_friend_path(@friend), class:'btn btn-secondary' %>
  <%= link_to 'Back', friends_path , class:'btn btn-dark'%> 
  
  </div>
</div>

